<!-- views/registrarPeriferico.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Product</title>
  <!-- Link para o Bootstrap via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Register Product</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Adicione mais itens de menu conforme necessário -->
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <h1>Registrar Novo Periférico</h1>

    <!-- Formulário de registro de periférico -->
    <form action="/products" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Type the name" required>
      </div>
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" placeholder="Type the brand" required>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Type the price" required>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" class="form-control" id="type" placeholder="Type the category (mouse, keyboard, etc)" required>
      </div>
      <div class="form-group">
        <label for="picture">Picture</label>
        <input type="text" class="form-control" id="picture" placeholder="Type " required>
      </div>
      <button type="submit" class="btn btn-primary">Registrar Periférico</button>
    </form>
  </div>

  <!-- Scripts do Bootstrap via CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
